.hover-effect {
    transition: transform 0.3s ease-in-out;
  }
  
  .hover-effect:hover {
    transform: scale(1.1); 
  }
  
  .hover-effect-second {
    transition: transform 0.3s ease-in-out, right 0.3s ease-in-out;
  }
  
  .hover-effect-second:hover {
    transform: scale(1.1); 
    right: -10px;
  }
  
  .image-overlay,
  .image-overlay-second {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .position-relative:hover .image-overlay,
  .position-relative:hover .image-overlay-second {
    opacity: 1;
  }
  